<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oa.mapper.AttendanceMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO attendance_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="checkInTime != null">check_in_time,</if>
            <if test="checkOutTime != null">check_out_time,</if>
            <if test="workDate != null">work_date,</if>
            <if test="totalHours != null">total_hours,</if>
            <if test="status != null">status,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="location != null">location,</if>
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="checkInTime != null">#{checkInTime},</if>
            <if test="checkOutTime != null">#{checkOutTime},</if>
            <if test="workDate != null">#{workDate},</if>
            <if test="totalHours != null">#{totalHours},</if>
            <if test="status != null">#{status},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="location != null">#{location},</if>
        </trim>
    </insert>
    <update id="updateById" >
        UPDATE attendance_records
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="checkInTime != null">
                check_in_time = #{checkInTime},
            </if>
            <if test="checkOutTime != null">
                check_out_time = #{checkOutTime},
            </if>
            <if test="workDate != null">
                work_date = #{workDate},
            </if>
            <if test="totalHours != null">
                total_hours = #{totalHours},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="ipAddress != null">
                ip_address = #{ipAddress},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectByUserId" resultType="com.oa.domain.AttendanceRecord">
        select * from attendance_records where user_id = #{id}
    </select>
    <select id="selectByUserIdAndTime"
            parameterType="map"
            resultType="com.oa.domain.AttendanceRecord">
        SELECT
            id, user_id, check_in_time, check_out_time,
            work_date, total_hours, status,
            ip_address, location, created_at, updated_at
        FROM attendance_records
        WHERE user_id = #{userId}
          AND work_date = DATE(#{now})
        LIMIT 1
    </select>

</mapper>
